<!-- include header -->
<%- include('_header') %>
    <!-- /include header -->

    <body>
        <main>

            <br>
            <br>
            <br>
            <div class="container ">
                <br>
                <br>
                <br>
                <div class="row " id="layout ">


                    <div class="row">

                        <p>

                            Hi Everyone, I am Saikrishna from Telangana, India. I did my schooling in Tejaswi high school warangal district of telangana state. I did my intermediate in NRI Junior College of hyderabad. And I completed my Bachelors of Engineering in Electronics and
                            Communication Engineering from Kakatiya university, Waranagal Urban. And worked as full stack dot net developer in Snk markert data reserach company in chennai for 2 years. My hobbies are watching and playing cricket, listening
                            to music for relaxation, travelling.
                        </p>
                    </div>

                </div>
            </div>
        </main>
        <script type="module " src="./scripts/main.js "></script>
    </body>
    <br>
    <!-- Footer -->
    <%- include('_footer') %>