<!-- include header -->
<%- include('_header') %>
    <!-- /include header -->

    <body>
        <main>

            <br>
            <br>
            <br>
            <form action="/locations" method="POST" style="padding-left: 40%; padding-top: 8%;">


                <!-- <div class="form-group">
                <label for="_id" class="text-light">ID</label>
                <input type="hidden" name="id" value="">
                <input type="number" name="_id" value="" placeholder="0">
            </div> -->
                <div class="form-group">
                    <label for="name" class="text">NAME:   </label>
                    <input type="text" name="name" value="" placeholder="Library">
                </div>
                <div class="form-group">
                    <label for="latitude" class="text" min="-90.000" max="90.000">Latitude:   </label>
                    <!-- <label for="name">North (latitude from -90 to 90) </label> -->
                    <input type="decimal" name="latitude" value="" min="-90.000" max="90.000" placeholder="46.000">
                </div>
                <div class="form-group">
                    <label for="longitude" class="text">Longitude:   </label>
                    <input type="decimal" name="longitude" value="" placeholder="69.0000">
                </div>




                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>


            </form>
        </main>
        <script type="module " src="./scripts/main.js "></script>
    </body>
    <br>
    <!-- Footer -->
    <%- include('_footer') %>