<table class="table table-inverse">
    <thead>
      <tr>
        <th>LocationID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
      </tr>
    </thead>
  
    <tbody>
      <% for(var i=0; i < locations.length; i++) { %>
      <tr>
        <td><%= locations[i].lId %></td>
        <td><%= locations[i].name %></td>
        <td><%= locations[i].longitude %></td>
        <td><%= locations[i].latitude %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  