<!DOCTYPE html>
<html>

<head>
    <title>Font Awesome 5 Icons</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Get your own code at fontawesome.com-->
</head>

<body>
    <h1>My Info ⚡:</h1>
    <p>
        Hello Everyone, I am Prasad Golla Durga, but people call me GD. I am from Bangalore, Karnataka State in India. I have completed my undergraduate in Computer Science from Karavali Institute of Technology, Mangalore, Karnataka. Currently, I am in my last
        semester of my Master's degree in Applied Computer Science at Northwest Missouri State University. I have worked as an intern at Hornbill Pvt. ltd for three months and developed an Android Application for a logistics company. 🌱 I’m currently
        learning Java and Spring.
    </p>
    <h2>
        Collaboration 👯:</h2>
    <p>
        <ol>
            <li>

                https://github.com/GD-Prasad/repositories</li>
            <li>Git: Create / Clone / Init / Add / Commit / Push</li>
            <li>GitHub: Profile / Repos / Settings</li>
            <li>Publishing</li>
            <li>GitHub Pages</li>
            <li>Heroku</li>
            <li>Languages</li>
            <li>GitHub Markdown</li>
            <li>HTML: Semantic tags / geolocation / speech synthesis</li>
            <li>JavaScript</li>
            <li>IDEs/Editors</li>
            <li>VS Code</li>
            <li>JavaScript</li>
            <li>Basics: variables / literals / scope / if-else / functions</li>
            <li>modules / let / const / arrow functions / promises / async / await</li>
        </ol>
    </p>
    <h3>Languages: </h3>
    <p>
        <ol>
            <li>GitHub</li>
            <li>Markdown </li>
            <li> Python</li>
            <li> HTML and CSS </li>
        </ol>
        <h2>

            My Education: </h2>
        <p>
            At Karavali Institute of Technology, Mangalore, Krnataka. (2019) Graduate at Northwest Missouri State University. (2021) Work: Worked as an Intern for Hornbill. Pvt. ltd for three months and helped design an Android Application for a Logistics Company.
            Worked as a Teaching Assistant for Digital Forensics class at Northwest Missouri State Uniiversity for Fall semester 2020. Present, working as a Graduate Assistant for Big Data class at Northwest Missouri State University for Spring semester
            2021.
        </p>
</body>
<%- include('_footer') %>

</html>